@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&display=swap');


.name
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
}

.container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}



.start{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.start button
{
  width: 50vh;
  height: 7vh;
  border: 1% groove black;
  border-radius:20px;
  background-color: transparent;
  
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:bolder;
  font-size: larger;
}

.ask{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  text-decoration: none;
}









/* Import Google Font */
@import url(https://fonts.googleapis.com/css?family=Exo:100);

/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
body {
  
  color: #999;
  font: 400 16px/1.5 "Exo", "Ubuntu", "Segoe UI", Helvetica, Arial, sans-serif;
  text-align: center;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;

  /* Animations */
  -webkit-animation: bg-scrolling-reverse 0.92s infinite linear;
  -moz-animation: bg-scrolling-reverse 0.92s infinite linear;
  -o-animation: bg-scrolling-reverse 0.92s infinite linear;
  animation: bg-scrolling-reverse 0.92s infinite linear;
}


/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}












/* sign-up css */

.signup
{
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;

}

#signup-form
{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
  height: 400px;
  box-shadow: 15px 10px 20px 10px gray;
  color: black;
  margin-top: 5%;
  background: url(/media/images.jpeg);
  background-repeat: no-repeat;
  background-size: cover;


#signup-form h1 
{
  margin-bottom: 20px;
}
.sulabel
{
  display:flex;
  align-items: flex-start;
  text-transform: uppercase;

}

#signup-form input
{
  height: 30px;
  width: 80%;
  border: 2px solid gray;
  border-radius: 10px;

}