@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&display=swap');
@import url(https://fonts.googleapis.com/css?family=Exo:100);
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
  background-image: url(/media/premium_photo-1661456342021-faa4a2ac84f1.avif);
  background-repeat: no-repeat;
  background-size: cover;
}
.name
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
}

.container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}



.start{
  display: flex;
  justify-content: center;
  align-items: center;
  
  font: 400 16px/1.5 "Exo", "Ubuntu", "Segoe UI", Helvetica, Arial, sans-serif;
}

.start button
{
  width: 50vh;
  height: 7vh;
  border: 1% groove black;
  border-radius:20px;
  background-color: transparent;
  
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:bolder;
  font-size: larger;
}

.ask{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  text-decoration: none;
}



/* sign-up css */

.signup
{
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;

}

#signup-form
{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 400px;
  box-shadow: 3px 2px 2px 3px rgb(110, 170, 170);
  color: black;
  margin-top: 5%;
  font-size: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  

}


#signup-form h1 
{
  margin-bottom: 20px;
}
.sulabel
{
  display:flex;
  align-items: flex-start;
  text-transform: uppercase;

}

#signup-form input
{
  height: 30px;
  width: 80%;
  border: 2px solid gray;
  background: transparent;
  border-top: none;
  border-right: none;
  border-bottom:0.2px solid;
  border-left: none;


}

input::placeholder
{
  font-size: larger;
  color: black;
  font-weight: 520;
  font-family:'Courier New', Courier, monospace;
}


#submit-btn
{
  text-decoration: none;
  width: 50%;
  height: 30px;
  cursor: pointer;
  background: transparent;
  color:rgb(0, 0, 0);
  border-radius:10px 0  10px; 
  font-size:20px;
  text-transform: uppercase;
  border:0.1px solid;
  font-family: "Kanit", serif;
  font-weight: 500;
  font-style: normal;
}

